@import url(reset.css);

h1{
  height: 300px; 
  margin-left: 710px;
}

h2 {
  font-size: 100px;
  margin-left: 760px;
  margin-bottom: 100px;
}


.head ul{ 
  width: 100%;
  z-index: -100;
  font-size: 16px;
  font-weight: 200;
  display:flex;
  justify-content: right;
  gap: 15px;
  list-style: none;
  color: black;
  padding: 0 50px;
} 

.head2 ul{ 
  height: 100px;
  width: 100%;
  background-color: black;
  z-index: 100;
  font-size: 20px;
  font-weight: 300;
  display:flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  color: white;
  padding: 35px 0px;
} 


header ul li:nth-child(1):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(2):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(3):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(4):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(5):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(6):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(7):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(8):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(9):hover {
  font-size: 26px;
  transition: 0.5s;
}
header ul li:nth-child(10):hover {
  font-size: 26px;
  transition: 0.5s;
}



.image1{
    width:100%;
    height:1200px;
    background-image: url('../image/Bentley_gangnam.jpeg'); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-position: center;
  } 
    
  



  .slide{
    width: 100%;
    max-width: 1800px;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
  }
  
  .slider-items{
    display: flex;
    width: 1800px; 
    position: absolute;
    top:0;
    left:0; 
  }

.slide-hitem{
  flex: 0 0 100%;
  max-width: 100%;
}

.slide-hitem img {
  width: 100%;
  height: 500px;
  object-fit: cover; 
  display: block;
}



iframe {
  margin-left: 55px;
  margin-top: 30px;
}


.list{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
}


.list li {
  border: 2px solid black;
  width: auto;
  height: auto;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  padding: 10px;
  list-style: none;
}



/* 호버카드 시작 */


.container h5{
  font-size: 56px;
  text-align: center;
  margin-bottom: 30px;
	text-underline-offset: 15px;
  text-transform: capitalize;
}

.card-items{
  display: flex;
  gap: 20px;
}
.card-item{
  height: 400px;
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.35s;
}
.card-item:hover{
  transform: translateY(-15px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.card-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-item .caption{
  position: absolute;
  bottom: -110px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.35s;
}
.card-item:hover .caption{bottom: 0;}

.card-item:nth-child(1) .caption{background: linear-gradient(to top, black, transparent);}
.card-item:nth-child(2) .caption{background: linear-gradient(to top, black, transparent);}
.card-item:nth-child(3) .caption{background: linear-gradient(to top, black, transparent);}
.card-item:nth-child(4) .caption{background: linear-gradient(to top, black, transparent);}

.caption h4{
  font-weight: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.caption h2 span{
  display: block;
  font-size: 17px;
  color: black;
}
.caption p{line-height: 18px;}

.caption .btn-profile{
  background-color: #ee5253;
	padding: 3px;
	border-radius: 7px;
  opacity: 0.8;
  transition: 0.35s;
}
.caption .btn-profile:hover{opacity: 1;}


/* 호버카드 끝 */



footer {
  display: flex;
  flex-direction: row;
  list-style: none;
  
}



.foot1 
{
  width: 100%;
  height: 200px;
  background-color: black;
  color:white;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 300; 
  justify-content: left;
  padding-top: 25px;
  padding-left: 50px;
}

.foot2 
{
  width: 100%;
  height: 200px;
  background-color: black;
  color:white;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 300;
  justify-content: right;
  padding-top: 25px;
  padding-right: 50px;
}

iframe{ 
  width: 1800px;
  height: 600px;
  border: 1px solid white;
  }
